@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: orange">>
    <h1 style="text-align:center; color:white">MVC Education</h1>
    <p class="lead" style="color:white">MVC - The leading learning environment in Vietnam and the world's outstanding educational organization.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h2 style="color:orange">ABOUT</h2>
        <p style="text-align:center;">
            MVC is a modern and cutting-edge learning environment with complete learning facilities and a selection of experienced teachers.
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2 style="color:orange">ADDRESS SYSTEM</h2>
        <p>
            <ul style="list-style-type:disc">
                <li>107 Nguyen Phong Sac, Ha Noi</li>
                <li>66 Vo Van Tan,Thanh Khe, Da Nang</li>
                <li>205 Nguyen Xi, Binh Thanh, Ho Chi Minh</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2 style="color:orange">CONTACT</h2>
        <p>
            <ul>
                <li>Phone Number: 07873475095</li>
                <li>Email: MVC@gmail.com</li>
                <li>Youtube: MVC Education</li>
                
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>